* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.Header-Wrapper {
  background-image: url("./Header-Img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .Header-Inner {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
    .Header-Logo-Solo {
      text-align: center;
      margin-bottom: 25px;
    }
    .Header-Name {
      display: flex;
      gap: 50px;
      justify-content: center;
      align-items: center;
      padding-bottom: 80px;
      // .Header-Img{
      // }
      .Header-Texts {
        .Header-Text {
          font-family: Nunito;
          font-size: 50px;
          font-weight: 800;
          line-height: 60px;
          text-align: left;
          color: white;
        }
        .Text2 {
          color: rgba(255, 92, 0, 1);
        }
        .Text {
          margin-top: 40px;
          font-family: Nunito;
          font-size: 16px;
          font-weight: 400;
          line-height: 21.82px;
          text-align: left;
          color: white;
        }
      }
    }
  }
}
